#inputpostalCodeID {
    position: absolute;
    max-width: 100%;
    width: 30rem;
} 

#inputPostalCodeQ27ID {
    position: absolute;
    max-width: 100%;
    width: 30rem;
} 

#inputFlightCodeQ3ID {
    position: absolute;
    max-width: 100%;
    width: 30rem;
} 

#inputFlightCodeQ24ID {
    position: absolute;
    max-width: 100%;
    width: 30rem;
} 